<mat-expansion-panel [expanded]="true" class="mat-elevation-z8" style="margin-top: 1rem;">
  <mat-expansion-panel-header>
      <div>
          <span>Anlagen</span>
      </div>
      <!-- <div style="position: absolute; right: 3rem; top: 0.2rem;">
           <button mat-icon-button *ngIf="!onEditingAnlage"
      (click)="startChanging(this); $event.stopPropagation()">
      <mat-icon>edit</mat-icon>
  </button>
           <button mat-mini-fab color="secondary" style="margin-right: 0.3rem;">
      <mat-icon>add</mat-icon>
  </button>
      </div> -->
  </mat-expansion-panel-header>

  <anlage-grid #anlage_grid [aktuellesProjekt]="aktuellesProjekt" [projekt_daten]="projekt_daten" [anlage_details]="this" *ngIf="!onEditingAnlage">
  </anlage-grid>

  <anlage-daten #anlage_daten [aktuellesProjekt]="aktuellesProjekt"[projekt_daten]="projekt_daten" [anlage_details]="this" *ngIf="onEditingAnlage">
  </anlage-daten>
</mat-expansion-panel>
