<mat-expansion-panel #projekt_daten [expanded]="true" class="mat-elevation-z8">
    <mat-expansion-panel-header>
        <div>
            <span>Projekt-Daten</span>

            <span *ngIf="!projekt_daten.expanded" style="margin-left: 0.5rem;">{{aktuellesProjekt.standort.strasse}} {{aktuellesProjekt.standort.strasseNr}}{{aktuellesProjekt.standort.strasseNrZusatz}}
                {{aktuellesProjekt.standort.plz}} {{aktuellesProjekt.standort.postOrt}}</span>

            <!-- <div style="position: absolute; right: 3rem; top: 0.2rem;">
                <button mat-mini-fab color="secondary" style="margin-right: 0.3rem;" *ngIf="!onEditingProjekt" (click)="startChanging(this); $event.stopPropagation()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" style="margin-right: 0.3rem;">
                    <mat-icon>add</mat-icon>
                </button>
            </div> -->
        </div>
    </mat-expansion-panel-header>
    <!-- Anschauen -->
    <div *ngIf="!onEditingProjekt">
        <div>
            <mat-form-field appearance="outline" style="width: 18rem; margin-bottom: -1rem;">
                <mat-label>Standort</mat-label>
                <textarea readonly="true" matInput
                (click)="startChanging('input_strasse');"
                value="{{aktuellesProjekt.standort.strasse}} {{aktuellesProjekt.standort.strasseNr}}{{aktuellesProjekt.standort.strasseNrZusatz}}
{{aktuellesProjekt.standort.plz}} {{aktuellesProjekt.standort.postOrt}}"></textarea>
            </mat-form-field>
            <!-- <button mat-icon-button class="editButton" (click)="startChanging(this)">
                <mat-icon>edit</mat-icon>
            </button> -->
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 18rem; margin-bottom: -1rem;"
            (click)="startChanging('input_gemeinde');">
                <mat-label>Gemeinde</mat-label>
                <input readonly="true" matNativeControl type="text" value="{{aktuellesProjekt.standort.gemeinde}}"/>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 6rem; margin-left: 0.5rem;  margin-bottom: -1rem;"
            (click)="startChanging('input_parzelle');">
                <mat-label>Parzelle</mat-label>
                <input readonly="true" matInput type="text" value="{{aktuellesProjekt.parzellenNr}}" (click)="aktuellerInput='input_parzelle'; startChanging(this);" />
            </mat-form-field>
            <!-- <button mat-icon-button (click)="startChanging(this)" *ngIf="aktuellerInput==='input_gemeinde'">
                <mat-icon>edit</mat-icon>
            </button> -->
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 18rem; margin-bottom: -1rem;"
            (click)="startChanging('input_versicherungs_nr');">
                <mat-label>Versicherungs-Nr.</mat-label>
                <input readonly="true" matInput type="text" value="{{aktuellesProjekt.versicherungsNr}}" />
            </mat-form-field>
            <!-- <button mat-icon-button class="editButton" (click)="startChanging(this)">
                <mat-icon>edit</mat-icon>
            </button> -->
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 18rem; margin-bottom: -1rem;"
            (click)="startChanging('input_gebaude_art');">
                <mat-label>Gebäudeart</mat-label>
                <input readonly="true" matInput type="text" value="{{aktuellesProjekt.gebaeudeArt}}" />
            </mat-form-field>
            <!-- <button mat-icon-button class="editButton" (click)="startChanging(this)">
                <mat-icon>edit</mat-icon>
            </button> -->
        </div>
    </div>
    <!-- Editieren -->
    <div *ngIf="onEditingProjekt">
        <div>
            <mat-form-field appearance="outline" style="width: 18rem; ">
                <mat-label>Strasse</mat-label>
                <input id="input_strasse" matInput type="text" [(ngModel)]="tempProjekt.standort.strasse" />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 6rem; margin-left: 0.5rem; ">
                <mat-label>Nr</mat-label>
                <input id="input_nr" matInput type="text" [(ngModel)]="tempProjekt.standort.strasseNr" />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 6rem; margin-left: 0.5rem; ">
                <mat-label>Nr-Zusatz</mat-label>
                <input id="input_nrz" matInput type="text" [(ngModel)]="tempProjekt.standort.strasseNrZusatz" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 6rem; margin-right: 0.5rem; ">
                <mat-label>PLZ</mat-label>
                <input id="input_plz" matInput type="text" [(ngModel)]="tempProjekt.standort.plz" />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 18rem; ">
                <mat-label>Ort</mat-label>
                <input id="input_ort" matInput type="text" [(ngModel)]="tempProjekt.standort.postOrt" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 18rem; ">
                <mat-label>Gemeinde</mat-label>
                <input id="input_gemeinde" matInput type="text" [(ngModel)]="tempProjekt.standort.gemeinde" />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 6rem; margin-left: 0.5rem; ">
                <mat-label>Parzelle</mat-label>
                <input id="input_parzelle" matInput type="text" [(ngModel)]="tempProjekt.parzellenNr" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 18rem; ">
                <mat-label>Versicherungs-Nr.</mat-label>
                <input id="input_versicherungs_nr" matInput type="text" [(ngModel)]="tempProjekt.versicherungsNr" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 18rem; ">
                <mat-label>Gebäudeart</mat-label>
                <input id="input_gebaeude_art" matInput type="text" [(ngModel)]="tempProjekt.gebaeudeArt" />
            </mat-form-field>
        </div>
        <mat-toolbar>
            <span class="menu-spacer"></span>
            <button mat-mini-fab color="secondary" style="margin-right: 1rem;" (click)="cancelChanges()">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-mini-fab color="secondary" style="margin-right: 1rem;" (click)="saveChanges()">
                <mat-icon>check</mat-icon>
            </button>
        </mat-toolbar>
    </div>
</mat-expansion-panel>
