<mat-expansion-panel #anlage_daten [expanded]="true" class="mat-elevation-z8" style="margin-top: 1rem;">
    <mat-expansion-panel-header>
        <div #anlage_header_div>
            <span>Anlagen</span>
        </div>
        <div style="position: absolute; right: 8%; top: 15%;">
            <!-- <button mat-icon-button *ngIf="!onEditingAnlage"
        (click)="startChanging(this); $event.stopPropagation()">
        <mat-icon>edit</mat-icon>
    </button> -->
            <button mat-icon-button><mat-icon>add_circle</mat-icon></button>
        </div>
    </mat-expansion-panel-header>

    <table mat-table [dataSource]="aktuellesProjekt.anlagen">

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let a">
                <div style="display: flex;">
                    <button mat-icon-button class="editButton">
          <mat-icon>edit</mat-icon>
        </button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="anlage">
            <th mat-header-cell *matHeaderCellDef class="infoColumn"><span style="margin-left: 1rem;">Anlage</span> </th>
            <td mat-cell *matCellDef="let a" class="infoColumn">
                <div style="display: flex;">
                    <div style="margin-left: 1rem;">{{a.gebaeudeteil + ", " + a.gebaeudenutzung}}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="zaehler">
            <th mat-header-cell *matHeaderCellDef class="infoColumn"><span style="margin-left: 1rem;">Zähler Nr.</span> </th>
            <td mat-cell *matCellDef="let a" class="infoColumn">
                <div style="display: flex;">
                    <div style="margin-left: 1rem;">{{"Zähler1: " + a.zaehlerNr + ", Zähler2: " + a.zaehlerNr2}}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="vnbnr">
            <th mat-header-cell *matHeaderCellDef class="infoColumn"><span style="margin-left: 1rem;">Rapport Nr.</span> </th>
            <td mat-cell *matCellDef="let a" class="infoColumn">
                <div style="display: flex;">
                    <div style="margin-left: 1rem;">{{a.vnbMeldungsNr}}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="tag">
            <th mat-header-cell *matHeaderCellDef class="formHeader"><span>TAG</span></th>
            <td mat-cell *matCellDef="let a" class="formHeader">
                <button mat-icon-button class="hasButton" *ngIf="hasLeistung(a, 'tag')" routerLink="/formular4">
        <mat-icon>description</mat-icon>
      </button>
                <button mat-icon-button class="addButton" *ngIf="!hasLeistung(a, 'tag')">
        <mat-icon>note_add</mat-icon>
      </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="ia">
            <th mat-header-cell *matHeaderCellDef class="formHeader"><span>IA</span></th>
            <td mat-cell *matCellDef="let a" class="formHeader">
                <button mat-icon-button class="hasButton" *ngIf="hasLeistung(a, 'ia')" routerLink="/formular4">
        <mat-icon>description</mat-icon>
      </button>
                <button mat-icon-button class="addButton" *ngIf="!hasLeistung(a, 'ia')">
        <mat-icon>note_add</mat-icon>
      </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="ab">
            <th mat-header-cell *matHeaderCellDef class="formHeader"><span>AB</span></th>
            <td mat-cell *matCellDef="let a" class="formHeader">
                <button mat-icon-button class="hasButton" *ngIf="hasLeistung(a, 'ab')" routerLink="/formular4">
        <mat-icon>description</mat-icon>
      </button>
                <button mat-icon-button class="addButton" *ngIf="!hasLeistung(a, 'ab')">
        <mat-icon>note_add</mat-icon>
      </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="sina">
            <th mat-header-cell *matHeaderCellDef class="formHeader"><span>SiNa</span></th>
            <td mat-cell *matCellDef="let a" class="formHeader">
                <button mat-icon-button class="hasButton" *ngIf="hasLeistung(a, 'sina')" routerLink="/formular4">
        <mat-icon>description</mat-icon>
      </button>
                <button mat-icon-button class="addButton" *ngIf="!hasLeistung(a, 'sina')">
        <mat-icon>note_add</mat-icon>
      </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="anlagen-liste-row"></tr>
    </table>

    <mat-selection-list *ngIf="false" [multiple]=" false" style="padding-top: 0; padding-bottom: 0; min-width:12rem ; max-width: 16rem;">
        <mat-list-option *ngFor="let a of aktuellesProjekt.anlagen">
            <div>{{a.gebaeudeteil}}, {{a.gebaeudenutzung}}</div>
        </mat-list-option>
        <mat-list-option>
            <div>
                <button mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
            </div>
        </mat-list-option>
    </mat-selection-list>
    <mat-accordion *ngIf="false" [multi]="false">
        <mat-expansion-panel *ngFor="let a of aktuellesProjekt.anlagen" [expanded]="false">
            <mat-expansion-panel-header (click)="aktuelleAnlage = a; onEditingAnlage=false;">
                <div>
                    <button mat-icon-button color="primary" (click)="openAnlageDetail(a)">
          <mat-icon>menu</mat-icon>
        </button>
                    <span>{{a.gebaeudeteil}}, {{a.gebaeudenutzung}}</span>
                    <span style="margin-left: 0.5rem;margin-right: 0.5rem;" class="menu-spacer"></span>
                    <span>ZählerNr. {{a.zaehlerNr}}, RapportNr. {{a.vnbMeldungsNr}}</span>
                </div>
            </mat-expansion-panel-header>
            <div>
                <p>
                    <mat-form-field appearance="outline" style="width: 18rem;">
                        <mat-label>Gebäudeteil</mat-label>
                        <input [disabled]="!onEditingAnlage" matInput type="text" value="{{a.gebaeudeteil}}" />
                    </mat-form-field>
                    <button *ngIf="!onEditingAnlage" mat-icon-button class="editButton" (click)="onEditingAnlage=true">
            <mat-icon>edit</mat-icon>
          </button>
                </p>
                <p>
                    <mat-form-field appearance="outline" style="width: 18rem;">
                        <mat-label>Nutzung</mat-label>
                        <input [disabled]="!onEditingAnlage" matInput type="text" value="{{a.gebaeudenutzung}}" />
                    </mat-form-field>
                    <button *ngIf="!onEditingAnlage" mat-icon-button class="editButton" (click)="onEditingAnlage=true">
            <mat-icon>edit</mat-icon>
          </button>
                </p>
                <p>
                    <mat-form-field appearance="outline" style="width: 9rem; margin-right: 0.5rem;">
                        <mat-label>ZählerNr. 1</mat-label>
                        <input [disabled]="!onEditingAnlage" matInput type="text" value="{{a.zaehlerNr}}" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 9rem;">
                        <mat-label>ZählerNr. 2</mat-label>
                        <input [disabled]="!onEditingAnlage" matInput type="text" value="{{a.zaehlerNr2}}" />
                    </mat-form-field>
                    <button *ngIf="!onEditingAnlage" mat-icon-button class="editButton" (click)="onEditingAnlage=true">
            <mat-icon>edit</mat-icon>
          </button>
                </p>
                <p>
                    <mat-form-field appearance="outline" style="width: 9rem; margin-right: 0.5rem;">
                        <mat-label>RapportNr.</mat-label>
                        <input [disabled]="!onEditingAnlage" matInput type="text" value="{{a.vnbMeldungsNr}}" />
                    </mat-form-field>
                    <button *ngIf="!onEditingAnlage" mat-icon-button class="editButton" (click)="onEditingAnlage=true">
            <mat-icon>edit</mat-icon>
          </button>
                </p>
                <mat-toolbar *ngIf="onEditingAnlage">
                    <span class="menu-spacer"></span>
                    <button mat-icon-button (click)="onEditingAnlage=false">
            <mat-icon>save</mat-icon>
          </button>
                    <button mat-icon-button (click)="onEditingAnlage=false">
            <mat-icon>cancel</mat-icon>
          </button>
                </mat-toolbar>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-expansion-panel>