<!-- Anzeigen -->
<div *ngIf="!onEditingAnlage">
  <div>
      <mat-form-field appearance="outline" readonly="true" style="width: 18rem; margin-bottom: -1rem;"
      (click)="startChanging('input_gebaudeteil');"
      >
          <mat-label>Gebäudeteil</mat-label>
          <input matInput type="text" value="{{anlage_details.aktuelleAnlage.gebaeudeteil}}" />
      </mat-form-field>
  </div>
  <div>
      <mat-form-field appearance="outline" readonly="true" style="width: 18rem; margin-bottom: -1rem;"
      (click)="startChanging('input_nutzung');"
      >
          <mat-label>Nutzung</mat-label>
          <input matInput type="text" value="{{anlage_details.aktuelleAnlage.gebaeudenutzung}}" />
      </mat-form-field>
  </div>
  <div>
      <mat-form-field appearance="outline" readonly="true" style="width: 9rem; margin-right: 0.5rem; margin-bottom: -1rem;"
      (click)="startChanging('input_zaehlernr1');"
      >
                  <mat-label>ZählerNr. 1</mat-label>
          <input matInput type="text" value="{{anlage_details.aktuelleAnlage.zaehlerNr}}" />
      </mat-form-field>
      <mat-form-field appearance="outline" readonly="true" style="width: 9rem; margin-bottom: -1rem;"
      (click)="startChanging('input_zaehlernr2');"
      >
          <mat-label>ZählerNr. 2</mat-label>
          <input matInput type="text" value="{{anlage_details.aktuelleAnlage.zaehlerNr2}}" />
      </mat-form-field>
  </div>
  <div>
      <mat-form-field appearance="outline" readonly="true" style="width: 9rem; margin-right: 0.5rem; margin-bottom: -1rem;"
      (click)="startChanging('input_rapportnr');"
      >
          <mat-label>RapportNr.</mat-label>
          <input matInput type="text" value="{{anlage_details.aktuelleAnlage.vnbMeldungsNr}}" />
      </mat-form-field>
  </div>
</div>
<!-- Editieren -->
<div *ngIf="onEditingAnlage">
  <div>
      <mat-form-field appearance="outline" style="width: 18rem;">
          <mat-label>Gebäudeteil</mat-label>
          <input id="input_gebaudeteil" matInput type="text" [(ngModel)]="tempAnlage.gebaeudeteil" />
      </mat-form-field>
  </div>
  <div>
      <mat-form-field appearance="outline" style="width: 18rem;">
          <mat-label>Nutzung</mat-label>
          <input id="input_nutzung" matInput type="text" [(ngModel)]="tempAnlage.gebaeudenutzung" />
      </mat-form-field>
  </div>
  <div>
      <mat-form-field appearance="outline" style="width: 9rem; margin-right: 0.5rem;">
          <mat-label>ZählerNr. 1</mat-label>
          <input id="input_zaehlernr1" matInput type="text" [(ngModel)]="tempAnlage.zaehlerNr" />
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 9rem;">
          <mat-label>ZählerNr. 2</mat-label>
          <input id="input_zaehlernr2" matInput type="text" [(ngModel)]="tempAnlage.zaehlerNr2" />
      </mat-form-field>
  </div>
  <div>
      <mat-form-field appearance="outline" style="width: 9rem; margin-right: 0.5rem;">
          <mat-label>RapportNr.</mat-label>
          <input id="input_rapportnr" matInput type="text" [(ngModel)]="tempAnlage.vnbMeldungsNr" />
      </mat-form-field>
  </div>
  <mat-toolbar>
      <span class="menu-spacer"></span>
      <button mat-mini-fab color="secondary" style="margin-right: 1rem;" (click)="cancelChanges()">
          <mat-icon>close</mat-icon>
      </button>
      <button mat-mini-fab color="secondary" style="margin-right: 1rem;" (click)="saveChanges()">
          <mat-icon>check</mat-icon>
      </button>
  </mat-toolbar>
</div>
